/* Reset valores default hmtl */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body {
    font-family: 'Bebas Neue', cursive;
}

:root {
    --white: #ffffff;
    --black: #000000;
}
/*  INDEX.HTML */
/* Header */ 

header {
    display: flex;
    justify-content: flex-end;
}

.logo {
    /* background-image: url(./src/assets/img/coffee-logo.jpeg); */
    width: 80px;
    cursor: pointer;
    margin-right: auto;
    padding: 0 40px;
}
.nav-menu {
    list-style: none;
}
.nav-menu-item {
    display: inline-block;
    padding: 0px 15px;
}
.nav-menu a {
    text-decoration: none;
    color: var(--black);
    font-size: 21px;
    margin: 0 10px;
    line-height: 80px;
}
/* Animacion en Nav */
.nav-menu-item a {
    transition: all 0.3s ease;
}
.nav-menu-item a:hover {
    color: #d64127;
}

/* Fin Header */ 

/* Carrousel con texto fijo */ 
/* .carrousel {
    display: flex;
    padding: 30%;
    background-image: url(./src/assets/img/Holiday_Header_1800x.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
} */
.carrousel {
    background-image: url(./src/assets/img/Holiday_Header_1800x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 635px;
    padding: 20px;
}
.carrousel-text {
    color: var(--white);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carrousel-text h1 {
    font-size: 7rem;
    letter-spacing: 4px;
}

/* Section con grid */
.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem;
}
@media (max-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
    }
} 
.container {
    padding: 1rem;
}
.container a {
    text-decoration: solid;
    color: var(--black);
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 1rem;
    text-align: center;
} 
.container-photos {
    width: 100%;
    margin-bottom: auto;
}
.container-info {

}
/* .container-nombre {
    color: var(--black);
    font-size: 18px;
    margin-top: 1rem;
    text-align: center;
} */

/* Transicion en Grid */
.container-photos:hover {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

/* Footer */

.nav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    gap: 2rem;
}
.nav-footer img {
    width: 20px;
}
.nav-footer ul {
    list-style: none;
}
.nav-footer li {
    text-align: center;
}

/* Media Queries - Full Responsive */
/* Mobile */
/*
@media only screen and (max-width: 480px) {
     body {
         background-color: rgb(243, 176, 198);
}  
*/
/* Tablet */
/* @media only screen and (min-width: 481px) and (max-width: 968px) {
    body {
        background-color: #bd75e7;
    }
}
/* Desktop */
/* @media only screen and (min-width: 969px) {
    body {
        background-color: var(--white);
    }
} */

/* ------------------------------- */
/* BLOG.HTML */
.container-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
    gap: 2rem;
}

.blog-img {
    width: 25rem;
}

/* ------------------------------- */
/* STORE.HTML */
.container-store {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem;
}
.container-store-coffee {
    width: 100%;
    align-items: center;
}
.container-store-title {
    text-align: center;
}
.store-img {
    width: 200px;
    height: 200px;
}
