<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fuente externa - Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../../style.css">
    <title>Contact-Coffee</title>
</head>

<body>
    <header>
        <img class="logo" src="../assets/img/coffee-logo.jpeg" alt="logo">
        <nav class="navegacion-main">
            <ul class="nav-menu">
                <li class="nav-menu-item"><a href="../../index.html">Home</a></li>
                <li class="nav-menu-item"><a href="blog.html">Blog</a></li>
                <li class="nav-menu-item"><a href="map.html">Map</a></li>
                <li class="nav-menu-item"><a href="store.html">Store</a></li>
                <li class="nav-menu-item"><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <p>
            HAVE A QUESTION?

            Visit our Customer Service page for immediate guidance or contact us using the info on this page.
            We are always happy to help!
            <!-- Forumlario -->
        </p>
    </section>

    <section>
        <p>CONTACT US

            EMAIL
            info@coffee.com

            PHONE
            212 206 8889

            MAIL
            141 West 14th Street
            New York NY 10011
        </p>
    </section>

    <footer>
        <nav>
            <h2>Social Media</h2>
            <ul>
                <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
                <li><a href="mailto:info@coffee.com">info@coffee.com</a></li>
            </ul>
        </nav>

        <section>
            <p>©Copyright Coffee - 2021</p>
        </section>
    </footer>


</body>

</html>